pipeline/margeration.json
{
	"name": "margeration",
	"properties": {
		"activities": [
			{
				"name": "web",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://stg-cdp.bosch-bsdt.com/etlboshi/ecrp/synData",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"startDate": "2023-01-10",
						"endDate": "2023-01-11",
						"type": "pointLogInfoQuery"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "web",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "requestid",
					"value": {
						"value": "@activity('web').output.data",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Result",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://stg-cdp.bosch-bsdt.com/etlboshi/ecrp/getExecuteResult?requestId=@variables('requestid')",
						"type": "Expression"
					},
					"method": "GET",
					"headers": {
						"Content-Type": "application/json"
					}
				}
			},
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Result",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Result').output.msg,'操作成功' )",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "msg",
								"value": "1"
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			}
		],
		"variables": {
			"requestid": {
				"type": "String"
			},
			"msg": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "TEST"
		},
		"annotations": [],
		"lastPublishTime": "2023-02-13T07:35:33Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}